@import url('https://fonts.googleapis.com/css2?family=Lato&family=Poppins:wght@500&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('background.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

img{
   cursor: pointer;
  padding: 7px;
  width: 200px;
}

.navigation a {
    position: relative;
    font-size: 1em;
    color: aliceblue;
    text-decoration: none;
    font-weight: 600;
    margin-left: 20px;
}

.navigation a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -7px;
    width: 100%;
    height: 3px;
    background: aliceblue;
    border-radius: 5px;
    transform: scaleX(0);
    transition: transform .5s;

}
.navigation a:hover::after{
    transform-origin: left;
    transform: scaleX(1);
    
}
.navigation .btnLogin-popup{
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid aliceblue;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1em;
    color: aliceblue;
    font-weight: 500;
    margin-left: 20px;
    transition: .5s;

}
.navigation .btnLogin-popup:hover{

    background: aliceblue;
    color: rgb(5, 6, 46);
    font-size: 0.9em;

}
.main-title h1{
    text-align: center;
    color: yellow;
    border: none;
    border-radius: 0;
    font-size: 3em;
    letter-spacing: 7;


}
.main-title h6{
    color: white;
    text-align: center;
    size: 10ev;
    padding: 3;
}
.footer{
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: .8em;
    padding: .6em;
}